language: clojure
lein: lein2
jdk:
  - oraclejdk7
  - openjdk7
  - openjdk6
script: ./ext/travisci/test.sh
notifications:
  email: false

# workaround for buffer overflow issue, ref https://github.com/travis-ci/travis-ci/issues/5227
addons:
  hosts:
    - myshorthost
  hostname: myshorthost
